/* Variables */

:root
{
  --background-primary: #ddd7d2;

  --text-primary: black;
  --text-secondary: white;

  --color-primary: #e04623;

  --font-family-main: system-ui,sans-serif;
  --font-family-heading: Helvetica,var(--font-family-main);
  --font-family-title: 'Luckiest Guy',var(--font-family-heading);
}

/* Base */

*,
::after,
::before
{
  margin: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  background: transparent;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  font: inherit;
  font-size: 100%;
}

*:focus
{
  outline: none;
}

button
{
  cursor: pointer;
}

img,
svg
{
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* Layout */

html,
body
{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body
{
  display: flex;
  flex-direction: column;
}

/* Common Modules */

.Text
{
  font-family: var(--font-family-main);
}

.Title
{
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: var(--font-family-title);
}

.Heading
{
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-family-heading);
  font-weight: bold;
}

.Button--primary
{
  border-radius: 8px;
  background-color: var(--color-primary);
  padding: 1rem;
  text-align: center;
  color: var(--text-secondary);
  font-weight: bold;
}

.Button--primary:hover,
.Button--primary:focus
{
  filter: brightness(90%);
}

/* Header Module */

.Header
{
  background-color: var(--color-primary);
  padding: 1rem;
  color: var(--text-secondary);
}

.Header-home
{
  display: block;
  margin-left: auto;
  font-weight: bold;
}

/* App Module */

.App
{
  height: 0;
  flex-grow: 1;
  background: var(--background-primary);
}

.App-page
{
  display: flex;
  margin: auto;
  height: 100%;
  padding: 1rem;
  flex-direction: column;
}

.App[data-page="0"] .App-page:not(:nth-child(1)),
.App[data-page="1"] .App-page:not(:nth-child(2)),
.App[data-page="2"] .App-page:not(:nth-child(3))
{
  display: none;
}

.App-pageContent
{
  display: flex;
  height: 0;
  flex-grow: 1;
  flex-direction: column;
}

/* Home Page */

.Home-title
{
  margin-bottom: 2rem;
}

.Home-image
{
  margin-bottom: 2rem;
  width: 100%;
  height: 0;
  flex-grow: 1;
  object-fit: contain;
}

.Home-loading
{
  text-align: center;
}

.Home-menu
{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.Home-menu
{
  position: relative;
}

.Home-loading,
.Home-error
{
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}

.App[data-loaded] .Home-loading,
.App:not([data-loaded="false"]) .Home-error
{
  display: none;
}

.Home-button
{
  width: 100%;
  height: 100%;
}

.App:not([data-loaded="true"]) .Home-button
{
  visibility: hidden;
}

/* Guess Country Page */

.GuessCountry-title
{
  margin-bottom: 1.5rem;
}

.GuessCountry-flag
{
  margin-bottom: 2rem;
  width: 100%;
  height: 0;
  flex-grow: 1;
  object-fit: contain;
}

.GuessCountry-answers
{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.GuessCountry-answer
{
  width: 100%;
  height: 100%;
}

/* Guess Flag Page */

.GuessFlag-title
{
  margin-bottom: 1.5rem;
}

.GuessFlag-country
{
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.GuessFlag-answers
{
  display: grid;
  height: 0;
  flex-grow: 1;
  grid-template: 1fr 1fr 1fr 1fr / 1fr;
  grid-gap: 1rem;
}

.GuessFlag-answer
{
  position: relative;
  width: 100%;
  height: 100%;
}

.GuessFlag-flag
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .Title
  {
    font-size: 4rem;
  }

  .Heading
  {
    font-size: 3rem;
  }

  .App-page
  {
    padding: 2rem 1rem;
  }

  .Home-menu
  {
    grid-template-columns: 1fr 1fr;
  }

  .GuessCountry-title
  {
    margin-bottom: 2rem;
  }

  .GuessCountry-answers
  {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  .GuessFlag-title
  {
    margin-bottom: 2rem;
  }

  .GuessFlag-country
  {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .GuessFlag-answers
  {
    grid-template: 1fr 1fr / 1fr 1fr;
  }
}
