/* Variables */

:root
{
  --background-primary: #ddd7d2;

  --text-primary: black;
  --text-secondary: white;

  --color-primary: #e04623;
}

/* Base */

*,
::after,
::before
{
  margin: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  background: transparent;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  font: inherit;
  font-size: 100%;
}

*:focus
{
  outline: none;
}

button
{
  cursor: pointer;
}

img,
svg
{
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* Layout */

html,
body
{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body
{
  display: flex;
  flex-direction: column;
}

.Row
{
  display: flex;
  margin-top: -1rem;
  margin-left: -1rem;
  flex-wrap: wrap;
}

.Col
{
  padding-top: 1rem;
  padding-left: 1rem;
}

.Col-6
{
  width: 50%;
}

.Cell-6
{
  height: 50%;
}

/* Common Modules */

.Button--primary
{
  border-radius: 9999px;
  background-color: var(--color-primary);
  padding: 1rem;
  text-align: center;
  color: var(--text-secondary);
  font-weight: bold;
}

.Button--primary:hover,
.Button--primary:focus
{
  filter: brightness(90%);
}

/* Header Module */

.Header
{
  background-color: var(--color-primary);
  padding: 1rem;
  color: var(--text-secondary);
}

.Header-home
{
  font-weight: bold;
}

/* App Module */

.App
{
  height: 0;
  flex-grow: 1;
  background: var(--background-primary);
}

.App-page
{
  display: flex;
  margin: auto;
  height: 100%;
  padding: 2rem 1rem;
  flex-direction: column;
}

.App[data-page="0"] .App-page:not(:nth-child(1)),
.App[data-page="1"] .App-page:not(:nth-child(2)),
.App[data-page="2"] .App-page:not(:nth-child(3))
{
  display: none;
}

.App-pageTitle
{
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}

.App-pageContent
{
  display: flex;
  height: 0;
  flex-grow: 1;
  flex-direction: column;
}

/* Home Page */

.Home-loading
{
  text-align: center;
}

.App[data-loaded] .Home-loading,
.App:not([data-loaded="false"]) .Home-error,
.App:not([data-loaded="true"]) .Home-menu
{
  display: none;
}

.Home-image
{
  margin-bottom: 2rem;
  width: 100%;
  height: 0;
  flex-grow: 1;
  object-fit: contain;
}

.Home-button
{
  width: 100%;
  height: 100%;
}

/* Guess Country Page */

.GuessCountry-flag
{
  width: 100%;
  height: 0;
  flex-grow: 1;
  object-fit: contain;
}

.GuessCountry-answers
{
  margin-top: 2rem;
  flex-shrink: 0;
}

.GuessCountry-answer
{
  width: 100%;
  height: 100%;
}

/* Guess Flag Page */

.GuessFlag-country
{
  text-align: center;
  font-size: 2rem;
}

.GuessFlag-answers
{
  display: grid;
  margin-top: 2rem;
  height: 0;
  flex-grow: 1;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 1rem;
}

.GuessFlag-answer
{
  position: relative;
  width: 100%;
  height: 100%;
}

.GuessFlag-flag
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: contain;
}
